{% extends "base.html" %}
{% block content %}

<div class="container">

    <div class="card">

        <h1>Create Wallet</h1>

        <form method="POST">

            <input type="text"
                   name="phone"
                   placeholder="Phone Number"
                   required>

            <input type="text"
                   name="username"
                   placeholder="Username"
                   required>

            <button type="submit">Create Wallet</button>

        </form>

    </div>

</div>

{% endblock %}